<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   GoogleService-Info.plist
   VaXeTHKM

   Created by Thanh Tran on 1/11/16.
   Copyright (c) 2016 vaxe. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>TRACKING_ID</key>
        <string>UA-70608378-1</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.pizzathieves.vaxeapp</string>
        <key>IS_ADS_ENABLED</key>
        <false/>
        <key>IS_ANALYTICS_ENABLED</key>
        <true/>
        <key>IS_APPINVITE_ENABLED</key>
        <false/>
        <key>IS_GCM_ENABLED</key>
        <false/>
        <key>IS_SIGNIN_ENABLED</key>
        <false/>
        <key>GOOGLE_APP_ID</key>
        <string>1:243711596095:ios:50ead98cd0799563</string>
    </dict>
</plist>
